*.iml
*~
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
TangoJavaRos/.catkin_workspace
TangoJavaRos/build/
TangoJavaRos/devel/
TangoJavaRos/src/android_remocons/.idea/misc.xml
TangoJavaRos/src/android_remocons/.idea/workspace.xml
TangoJavaRos/src/android_remocons/TangoTalker/build/
TangoJavaRos/src/android_remocons/build/
TangoJavaRos/src/android_remocons/common_tools/build/
TangoJavaRos/src/android_remocons/opencv/build/
TangoRos/roscpp_android_ndk/
