*.iml
*~
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
TangoJavaRos/.catkin_workspace
TangoJavaRos/build/
TangoJavaRos/devel/
TangoJavaRos/src/android_ros/.idea/
TangoJavaRos/src/android_ros/TangoTalker/build/
TangoJavaRos/src/android_ros/build/
TangoJavaRos/src/android_ros/common_tools/build/
TangoJavaRos/src/android_ros/opencv/build/
TangoRos/roscpp_android_ndk/
TangoRos/tango_ros_native_app/bin/
TangoRos/tango_ros_native_app/libs/armeabi-v7a/
TangoRos/tango_ros_native_app/obj/
TangoRos/OpenCV_sdk_native/
TangoRos/.project
