<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.intermodalics.tango_ros_streamer"
    android:versionCode="16"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application tools:replace="android:icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/tango_ros_streamer_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.projecttango.libtango_device2"
            android:required="true" />

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="eu.intermodalics.tango_ros_streamer.android.RunAppOnStartupBroadcastReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <activity
            android:name="eu.intermodalics.tango_ros_streamer.activities.RunningActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="eu.intermodalics.tango_ros_streamer.activities.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name="eu.intermodalics.tango_ros_streamer.activities.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>

        <!-- To manage to execute nodes like the node handler -->
        <service android:name="org.ros.android.NodeMainExecutorService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>

    </application>

</manifest>