#!/usr/bin/env python
PACKAGE = "tango_ros_native"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("publish_device_pose",    bool_t ,    0, "boolean publish_device_pose",    False)
gen.add("publish_point_cloud",    bool_t ,    0, "boolean publish_point_cloud",    False)
gen.add("publish_camera_fisheye", bool_t ,    0, "boolean publish_camera_fisheye", False)
gen.add("publish_camera_color",   bool_t ,    0, "boolean publish_camera_color",   False)

exit(gen.generate(PACKAGE, "tango_ros_native", "Publisher"))